---
import '../styles/global.css';
import AboutView from '../vue/views/AboutView.vue';
---

<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <title>LuminX</title>
  </head>
  <body class="bg-black text-amber-50">
    <!-- Vue island -->
    <AboutView client:load />
  </body>
</html>
